@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    background-color: antiquewhite;
}
main{
    margin: auto;
    max-width: 600px;
    background-color: antiquewhite;
    height: 400px;    
}

h1{
    font-family: 'Open Sans', sans-serif;
}

.newsletter{
    color: gray;
    border: solid thin #cfcfcf;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.newsletter input#nameUser{
    display: block;
    width: 100%;
    margin: 5px auto;
    box-sizing: border-box;
    border: solid 2px #cfcfcf;
    border-radius: 3px;
}

.newsletter button{
    display: block;
    width: 100%;
    background-color: #3cb878;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 5px auto;
}

.newsletter button:hover{
    background-color: green;
}

.newsletter button:active{
    background-color: red;    
}
.newsletter input#acceptUser{
    position: [relative];    
    top: 1px;
}

.newsletter h3{
    margin-top: 0;
}

.newsletter #xgomb{
    position: absolute;
    top: 5px;
    right: 20px;
}

/*
.newsletter h3.second{
    color: green;
}

.newsletter h3#second{
    color: red;
}
*/

#kerdojel{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 4px #cfcfcf;
    background-color: #3cb878;
    color: white;
    font-size: 80px;
    text-align: center;
    text-decoration: none;
    position: fixed; 
    bottom: 20px;  
    right: 20px;
}

#card-holder{
    display: flex;
    justify-content: space-between;
    
    align-items: flex-end; /*függöleges igazítás*/
    /*flex-direction: column; irány */

    flex-wrap: wrap; /*sortörés engedélyezése*/
    align-content: flex-start; /* */
}

.card{    
    background-color: #3cb878;
    width: 25%;
    text-align: center;
    color: white;
    padding: 5px 0 25px 0;
    box-shadow: 5px 5px 10px 2px gray;
    border-radius: 5px;
    margin: 0 0 20px 0;
}

img{
    width: 70%;
}

figcaption{
    padding-top: 10px;
}



