body{
    margin: 0;
}

#tarto{
    width:600px;
    margin: auto;
}

nav{
    background-color: aqua;
    height: 50px;
}        

div.container{
    display: flex;
    height: 500px;
    padding: 10px 0;
    gap: 20px;
}

    aside#bal{
        background-color: orange;
        flex-grow: 1;
        align-items: stretch; 
    }

    main{
        background-color: red;
        flex-grow: 3;
        align-items: stretch;
        position: relative;    
    }

    aside#jobb{
        background-color: purple;
        flex-grow: 1;
        align-items: stretch;        
    }

footer{
    background-color: blue;
    height: 100px;
}

div#fekete{
    background-color: black;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}